<a>https://www.kaggle.com/datasets/shivamb/company-acquisitions-7-top-companies</a>

<H1><b>About Dataset</b></H1>

<p>Tech Companies - Merger and Acquisitions Dataset - Software Companies
This dataset contains the list of acquisitions made by the following companies:</p>

<p>Microsoft, Google, IBM, Hp, Apple, Amazon, Facebook, Twitter, eBay, Adobe, Citrix, Redhat, Blackberry, Disney</p>

<p>The attributes include the date, year, month of the acquisition, name of the company acquired, value or the cost of acquisition, business use-case of the acquisition, and the country from which the acquisition was made. The source of the dataset is Wikipedia, TechCrunch, and CrunchBase.<p>

<br>

<p><b>Interesting Tasks and Analysis Ideas</b></p>
<p>I. Which company makes the acquisitions quickly</p>
<p>II. What is the trend of business use-cases among the acquired companies throughout the years</p>
<p>III. What can be forecasted for upcoming years in terms of acquisitions</p>
<p> IV. Predict who is likely to make next acquisitions and when</p>

<H2><b>Columns</H2></b>

<p><i>C = Categorical</i></p>

<p><i>N = Numerical</i></p>

<p>(N) 'ID'</p>
<p>(C) 'Parent Company'</p>
<p>(N) 'Acquisition Year'</p>
<p>(C) 'Acquisition Month'</p>
<p>(C) 'Acquired Company'</p>
<p>(C) 'Business'</p>
<p>(C) 'Country'</p>
<p>(N) 'Acquisition Price'</p>
<p>(C) 'Category'</p>
<p>(C) 'Derived Products'</p>

---
# <H2><b>Preparing my dataframe</H2></b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import auth
import gspread
from google.auth import default

#autenticating to google
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

#defining my worksheet
worksheet = gc.open('acquisitions_update_2021').sheet1

#get_all_values gives a list of rows
rows = worksheet.get_all_values()

#Convert to a DataFrame 
df = pd.DataFrame(rows)

#creating columns name
df.columns = df.iloc[0]
df = df.iloc[1:]

# <H2><b>Analising my dataframe</H2></b>

In [3]:
df.columns

Index(['ID', 'Parent Company', 'Acquisition Year', 'Acquisition Month',
       'Acquired Company', 'Business', 'Country', 'Acquisition Price',
       'Category', 'Derived Products'],
      dtype='object', name=0)

In [4]:
df.shape

(1455, 10)

In [5]:
df.head()

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
1,1,Apple,1988,Mar,Network Innovations,Software,-,-,-,-
2,2,Apple,1988,Jun,Orion Network Systems,Computer Software,-,-,-,-
3,3,Apple,1988,Jun,Styleware,Computer software,-,-,-,-
4,4,Apple,1988,Jul,Nashoba Systems,Computer software,-,-,-,-
5,5,Apple,1989,Jan,Coral Software,Computer software,-,-,-,-

In [6]:
df = df.replace({'-': np.nan})

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 1 to 1455
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1455 non-null   object
 1   Parent Company     1455 non-null   object
 2   Acquisition Year   1427 non-null   object
 3   Acquisition Month  1397 non-null   object
 4   Acquired Company   1455 non-null   object
 5   Business           1181 non-null   object
 6   Country            341 non-null    object
 7   Acquisition Price  510 non-null    object
 8   Category           10 non-null     object
 9   Derived Products   403 non-null    object
dtypes: object(10)
memory usage: 113.8+ KB

In [8]:
def missing_data(df):
    total = df.isnull().sum().sort_values(ascending = False)
    Percentage = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, Percentage], axis=1, keys=['Total', 'Percentage'])

missing_data(df)

                   Total  Percentage
0
Category            1445   99.312715
Country             1114   76.563574
Derived Products    1052   72.302405
Acquisition Price    945   64.948454
Business             274   18.831615
Acquisition Month     58    3.986254
Acquisition Year      28    1.924399
ID                     0    0.000000
Parent Company         0    0.000000
Acquired Company       0    0.000000

In [9]:
df.duplicated().sum()

0

In [10]:
df[['ID', 'Parent Company', 'Acquisition Year', 'Acquisition Month',
       'Acquired Company', 'Business', 'Country', 'Acquisition Price',
       'Category', 'Derived Products']].nunique()

0
ID                   1455
Parent Company         14
Acquisition Year       46
Acquisition Month      12
Acquired Company     1452
Business              864
Country                25
Acquisition Price     228
Category                9
Derived Products      235
dtype: int64

In [11]:
df['Country'].unique()

array([nan, 'United States', 'United Kingdom', 'South Korea', 'Norway',
       'Canada', 'Australia', 'India', 'France', 'Denmark', 'Switzerland',
       'Brazil', 'Netherlands', 'Israel', 'Sweden', 'Hong Kong',
       'Singapore', 'Ireland', 'Italy', 'Germany', 'Finland', 'Spain',
       'Malaysia', 'Belarus', 'Czech Republic', 'New Zealand'],
      dtype=object)

In [12]:
df['Derived Products'].value_counts()

Google Cloud Platform          22
Android                        19
Amazon Web Services            17
YouTube                        12
X                               9
                               ..
Google Web Toolkit              1
Google+, Orkut, Google Play     1
Google+, Orkut                  1
Google, Google Alert            1
Citrix Workspace                1
Name: Derived Products, Length: 235, dtype: int64

<H3><b>Observations:</b><H3>

<p>Regarding the first observations around our dataframe or dataset, we can conclude  columns 'Category', 'Country', 'Derived Products' and 'Acquisition Price' are not useful for our analysis, in a wake of poor amount of data and importance to answer our questions. Finally, 'ID' because it does not give us any information.</p>

In [13]:
df.drop(['ID', 'Category', 'Country', 'Derived Products', 'Acquisition Price'], axis=1, inplace=True)

In [14]:
missing_data(df)

                   Total  Percentage
0
Business             274   18.831615
Acquisition Month     58    3.986254
Acquisition Year      28    1.924399
Parent Company         0    0.000000
Acquired Company       0    0.000000

In [15]:
df[['Parent Company', 'Acquisition Year', 'Acquisition Month',
       'Acquired Company', 'Business']].nunique()

0
Parent Company         14
Acquisition Year       46
Acquisition Month      12
Acquired Company     1452
Business              864
dtype: int64

---
# <H2><b>Conclusions</b></H2>

<p>To sum up, we do not have enought information to make the correct predictions.</p>